---
import ResponsiveNav from "../../components/ResponsiveNav.astro";
import HTMLWrapper from "../../layouts/HTMLWrapper.astro";
import Footer from "../../components/Footer.astro";
import TextField from "../../components/register/TextField.astro";
import CheckBoxField from "../../components/register/CheckBoxField.astro";
import AgreementDescription from "../../components/register/AgreementDescription.astro";
import DropDownField from "../../components/register/DropDownField.astro";
import PhoneInput from "../../components/register/PhoneInput.astro";
import generalData from "../../data/register/generalData.json";
import howYouHeardData from "../../data/register/howYouHeardData.json";
import ethnicityData from "../../data/register/ethnicityData.json";
import SchoolField from "../../components/register/SchoolField.astro";
import CountryField from "../../components/register/CountryField.astro";

// interface RegistrantData {
//   firstName: string;
//   lastName: string;
//   email: string;
//   phoneNumber: string;
//   school: string;
//   country: string;
//   educationLevel: string;
//   major: string;
//   gender: string;
//   ethnicity: string[];
//   howYouHeard: string[];
//   hackathons: number;
//   shirtSize: string;
//   githubUsername?: string;
//   linkedinURL?: string;
//   dateOfBirth: string;
//   acceptedWaiver: boolean;
//   allergens: string[];
//   otherAllergens: string;
// }
---

<HTMLWrapper title="Register">
  <ResponsiveNav current="register" />
  <main class="mt-24 flex justify-center">
    <div class="flex w-[760px] flex-col max-md:w-11/12">
      <div id="notification" class="invisible rounded-md p-2 md:p-4"></div>
      <h1 class="py-8 text-4xl font-bold">Register</h1>
      <div class="pb-20">
        <form class="grid grid-cols-2 gap-4 gap-y-8" method="POST" enctype="multipart/form-data" id="registrationForm">
          <!-- firstName -->
          <TextField label="First Name*" type="text" placeholder="Bob" name="firstName" required={true} />

          <!-- lastName -->
          <TextField label="Last Name*" type="text" placeholder="Evans" name="lastName" required={true} />
          <!-- email -->
          <TextField label="Email*" type="email" placeholder="Email" name="email" required={true} />

          <!-- confirmEmail -->
          <TextField
            label="Confirm Email*"
            type="email"
            placeholder="Confirm Email"
            name="emailConfirmed"
            required={true}
          />

          <!-- school -->
          <div class="col-span-2">
            <SchoolField />
          </div>

          <!-- country -->
          <div class="col-span-2">
            <CountryField />
          </div>

          <!-- education -->
          <div class="col-span-2">
            <DropDownField
              label="Education*"
              name="educationLevel"
              placeholder="Level of Education"
              dropdown={generalData.educationData}
              required={true}
            />
          </div>

          <!-- major -->
          <div class="col-span-2">
            <DropDownField
              label="Major*"
              name="major"
              placeholder="Major"
              dropdown={generalData.majorData}
              required={true}
            />
          </div>

          <!-- age -->
          <TextField label="Age*" type="number" placeholder="Age" name="age" required={true} />

          <!-- gender -->
          <DropDownField
            label="Gender*"
            name="gender"
            placeholder="Gender"
            dropdown={generalData.genderData}
            required={true}
          />

          <!-- phoneNumber -->
          <PhoneInput />

          <!-- github -->
          <TextField label="GitHub" type="text" placeholder="GitHub Username" name="githubUsername" required={false} />

          

          <div class="col-span-1">
            <DropDownField
              label="Shirt Size*"
              name="shirtSize"
              placeholder="Shirt Size"
              dropdown={generalData.shirtSizeData}
              required={true}
            />
          </div>

          <!-- linkedin -->
           <TextField label="LinkedIn" type="url" placeholder="LinkedIn Profile" name="linkedInURL" required={false} />

          <!-- resume -->
          <div class="col-span-2">
            <label for="resume" class="font-bold">Resume</label>
            <div class="pt-2">
              <input name="resume" id="resume" type="file" />
            </div>
          </div>

          <div class="col-span-2">
            <label for="researchConsent">
              <input name="researchConsent" type="checkbox" id="researchConsent" required={false} />
              I agree to allow my resume to be used for research purposes.
            </label>
          </div>

          <!-- hackathons -->
          <div class="col-span-2">
            <DropDownField
              label="How many hackathons have you attended?*"
              name="hackathons"
              placeholder="Number of hackathons attended"
              dropdown={generalData.hackathonData}
              required={true}
            />
          </div>

          <!-- ethnicity -->
          <div class="col-span-2">
            <CheckBoxField label="Race/Ethnicity*" name="ethnicity[]" checkBoxesData={ethnicityData} />
          </div>

          <!-- howYouHeard -->
          <div class="col-span-2">
            <CheckBoxField
              label="How did you hear about RevUC?"
              name="howYouHeard[]"
              checkBoxesData={howYouHeardData}
            />
          </div>

          <!-- MLH and waiver -->
          <div class="col-span-2">
            <CheckBoxField
              label="I agree*"
              name="waiver"
              checkBoxLabel="RevolutionUC Waiver Form"
              href="#agree-1"
              hrefText="1"
              required={true}
            />
          </div>
          <div class="col-span-2">
            <CheckBoxField
              label="I agree*"
              name="dataSharing"
              checkBoxLabel="MLH Data Sharing"
              href="#agree-2"
              hrefText="2"
              required={true}
            />
          </div>
          <div class="col-span-2">
            <CheckBoxField
              label="I agree*"
              name="codeOfConduct"
              checkBoxLabel="MLH Code of Conduct"
              href="#agree-3"
              hrefText="3"
              required={true}
            />
          </div>
          <div class="col-span-2">
            <CheckBoxField
              label="I agree"
              name="mlhEmails"
              checkBoxLabel="MLH Informational Emails"
              href="#agree-4"
              hrefText="4"
              required={false}
            />
          </div>

          <!-- registerButton -->
          <div>
            <button class="rounded-2xl bg-gray-500 p-3 text-lg text-white" name="registrationSubmit" type="submit"
              >Register</button
            >
          </div>
        </form>
      </div>
      <!-- Agreement Discription -->
      <section class="pb-20">
        <p>
          <small
            ><sup id="agree-1">1 </sup>I have read an agree to the <a
              href="/waiver"
              target="_blank"
              class="text-red-700 underline">Liability Release, Waiver, Discharge and Covenant Not to Sue</a
            >.</small
          >
          <br />
          <small
            ><sup id="agree-2">2 </sup>I authorize you to share my application/registration information with Major
            League Hacking for event administration, ranking, and MLH administration in-line with the <a
              href="https://mlh.io/privacy"
              target="_blank"
              class="text-red-700 underline">MLH Privacy Policy</a
            >. I further agree to the terms of both the
            <a
              href="https://github.com/MLH/mlh-policies/blob/main/contest-terms.md"
              target="_blank"
              class="text-red-700 underline">MLH Contest Terms and Conditions</a
            >
            and the
            <a href="https://mlh.io/privacy" target="_blank" class="text-red-700 underline">MLH Privacy Policy</a
            >.</small
          >
          <br />
          <small
            ><sup id="agree-3">3 </sup>I have read and agree to the
            <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf" target="_blank" class="text-red-700 underline"
              >MLH Code of Conduct</a
            >.</small
          >
          <br />
          <small
            ><sup id="agree-4">4 </sup>I authorize MLH to send me occasional emails about relevant events, career opportunities, and community announcements.</small
          >
        </p>
      </section>
    </div>
  </main>
  <Footer />
</HTMLWrapper>

<script>
  const emailField = document.getElementById("email") as HTMLInputElement | null;
  const confirmEmailField = document.getElementById("emailConfirmed") as HTMLInputElement | null;

  function validateEmails() {
    const email = emailField?.value;
    const confirmedEmail = confirmEmailField?.value;

    if (email !== confirmedEmail) {
      confirmEmailField?.setCustomValidity("Email and Confirm Email do not match.");
    } else {
      confirmEmailField?.setCustomValidity("");
    }
  } 

  if (emailField && confirmEmailField) {
    emailField.addEventListener("input", validateEmails);
    confirmEmailField.addEventListener("input", validateEmails)
  }

  const registrationForm = document.getElementById("registrationForm") as HTMLFormElement | null;
  const notification = document.getElementById("notification")!;

  if (registrationForm) {
    registrationForm.onsubmit = async (e) => {
      e.preventDefault();
      const formData = new FormData(e.target as HTMLFormElement);
      formData.append("phoneNumber[full]", window.iti.getNumber());
      const response = await fetch("/registration/api", {
        method: "POST",
        body: formData,
      });
      const data = await response.json();
      const message = Array.isArray(data.message) ? data.message.join("\n") : data.message;
      if (response.ok) {
        notification.innerText = message;
        notification.classList.remove("invisible");
        notification.classList.remove("bg-red-400");
        notification.classList.add("bg-green-400");
        registrationForm.reset();
      } else {
        notification.innerText = message;
        notification.classList.remove("invisible");
        notification.classList.remove("bg-green-400");
        notification.classList.add("bg-red-400");
      }
      notification.scrollIntoView();
    };
  }
</script>
