---
import ResponsiveNav from "../components/ResponsiveNav.astro";
import HTMLWrapper from "../layouts/HTMLWrapper.astro";
import faqData from "../data/faqData.json";
import Footer from "../components/Footer.astro";
---

<HTMLWrapper title="FAQ">
  <ResponsiveNav current="faq" />
  <main class="mt-24 flex h-full justify-center">
    <div class="mb-8 ml-8 mr-8 w-full lg:w-3/5 xl:w-2/5">
      <img
        src="/images/faq-1.jpg"
        alt="faq image"
        class="w-full"
        decoding="async"
        loading="eager"
        onerror="this.style.display='none'"
      />
      <h1 class="text-center font-poppins text-2xl font-bold leading-[45px] text-theme-dark-blue mt-5">FAQ</h1>
      <p class="mt-4 text-lg underline">
        <small>
          <a href="#" class="expand-all">Expand all</a> | <a href="#" class="collapse-all">Collapse all</a>
        </small>
      </p>
      <script defer>
        const btnExpand = document.querySelector("a.expand-all");
        btnExpand?.addEventListener("click", () => {
          document.querySelectorAll("details").forEach((detail) => {
            detail.open = true;
          });
        });

        const btnCollapse = document.querySelector("a.collapse-all");
        btnCollapse?.addEventListener("click", () => {
          document.querySelectorAll("details").forEach((detail) => {
            detail.open = false;
          });
        });
      </script>

      <div class="grid grid-cols-1 gap-5 md:grid-cols-2">
        <div class="p-5 rounded-lg">
          <h2 class="font-poppins text-lg font-bold leading-6 text-theme-teal mt-5">General Information</h2>
          {
            faqData.slice(0, 5).map((faq) => (
              <details class="my-4 cursor-pointer">
                <summary class="my-2 font-nunito text-sm font-normal leading-[16.37px]">{faq.q}</summary>
                <div class="font-nunito text-sm font-normal leading-[16.37px]" set:html={faq.a} />
              </details>
            ))
          }
        </div>

        <div class="p-5 rounded-lg">
          <h2 class="font-poppins text-lg font-bold leading-6 text-theme-teal mt-5">Participation and Preparation</h2>
          {
            faqData.slice(5, 11).map((faq) => (
              <details class="my-4 cursor-pointer">
                <summary class="my-2 font-nunito text-sm font-normal leading-[16.37px]">{faq.q}</summary>
                <div class="font-nunito text-sm font-normal leading-[16.37px]" set:html={faq.a} />
              </details>
            ))
          }
        </div>

        <div class="p-5 rounded-lg md:col-span-2">
          <h2 class="font-poppins text-lg font-bold leading-6 text-theme-teal mt-5">Policies and Support</h2>
          {
            faqData.slice(11, 14).map((faq) => (
              <details class="my-4 cursor-pointer">
                <summary class="my-2 font-nunito text-sm font-normal leading-[16.37px]">{faq.q}</summary>
                <div class="font-nunito text-sm font-normal leading-[16.37px]" set:html={faq.a} />
              </details>
            ))
          }
        </div>
      </div>
    </div>
  </main>
  <Footer />
</HTMLWrapper>