---
import ResponsiveNav from "../components/ResponsiveNav.astro";
import HTMLWrapper from "../layouts/HTMLWrapper.astro";
import faqData from "../data/faqData.json";
import Footer from "../components/Footer.astro";
import HeaderImage from "../components/HeaderImage.astro";
---

<HTMLWrapper title="FAQ">
  <ResponsiveNav current="faq" />
  <main class="mb-24 mt-24 flex w-full flex-col items-center justify-center space-y-8">

    <img src="/general/faq.gif" alt="Prize Gif" class="h-auto w-64" onerror="this.style.display='none'"/>
    <h1 class="text-4xl font-bold text-theme-dark-blue font-poppins pt-5">More information will be coming soon.</h1>
    {/*
    <h1 class="text-4xl font-bold text-theme-dark-blue font-poppins pt-5">FAQ</h1>

    <div class="grid gap-5 sm:gap-10 sm:grid-cols-2 w-5/6 md:max-w-3xl">
      <div>
        <h2 class="font-poppins text-xl font-bold text-theme-teal mt-5">General Information</h2>
        {
          faqData.slice(0, 5).map((faq) => (
            <details class="my-4 cursor-pointer">
              <summary class="my-2 leading-[16.37px]">{faq.q}</summary>
              <div class="leading-[16.37px]" set:html={faq.a} />
            </details>
          ))
        }
      </div>

      <div>
        <h2 class="font-poppins text-xl font-bold text-theme-teal mt-5">Participation and Preparation</h2>
        {
          faqData.slice(5, 11).map((faq) => (
            <details class="my-4 cursor-pointer">
              <summary class="my-2 leading-[16.37px]">{faq.q}</summary>
              <div class="leading-[16.37px]" set:html={faq.a} />
            </details>
          ))
        }
      </div>

      <div>
        <h2 class="font-poppins text-xl font-bold text-theme-teal mt-5">Policies and Support</h2>
        {
          faqData.slice(11, 14).map((faq) => (
            <details class="my-4 cursor-pointer">
              <summary class="my-2 leading-[16.37px]">{faq.q}</summary>
              <div class="leading-[16.37px]" set:html={faq.a} />
            </details>
          ))
        }
      </div>
    </div>
     */}
  </main>
  <Footer />
</HTMLWrapper>