---
import ResponsiveNav from "../components/ResponsiveNav.astro";
import HTMLWrapper from "../layouts/HTMLWrapper.astro";
import hackIdeas from "../data/hackIdeas.json";
import Footer from "../components/Footer.astro";
---

<HTMLWrapper title="Hack Ideas">
  <ResponsiveNav current="hack-ideas" />
  <main class="mt-20 flex h-full justify-center">
    <div class="mb-8 ml-8 mr-8 w-full lg:w-3/5 xl:w-2/5">
      <div class="relative">
        <img
          src = "/sample_image.jpg"
          alt="hack ideas image"
          class="w-full h-60 opacity-60"
          decoding="async"
          loading="eager"
          onerror="this.style.display='none'"
        />

        <div class="bottom-0 left-0 p-4 text-white">
          <h2 class="text-5xl font-bold font-poppins text-black text-center text-theme-dark-blue mt-20">Hack Ideas</h2>
        </div>
      </div>

      <div class="mt-8 mb-20 grid grid-cols-3 gap-10">
        {
          hackIdeas.map((idea, index) => (
            <div>

              <button
                id={`open-${index}`}
                class={`flex flex-col h-52 w-48 justify-between items-center rounded-lg shadow-lg ${index % 2 === 0 ? 'bg-theme-teal' : 'bg-theme-coral'} px-4 py-2`}>
                <div class="font-semibold font-poppins text-base text-white">{idea.topic}</div>

                <img src="/sample_image.jpg" alt="hack ideas image" class="w-20 h-20 object-contain mb-0" decoding="async" loading="eager" onerror="this.style.display='none'"/>
              </button>

              <div
                id={`modal-${index}`}
                class="modal fixed inset-0 flex hidden items-center justify-center bg-gray-900 bg-opacity-50"
              >
                <div class={`relative flex flex-col h-2/3 w-2/3 place-items-center items-center justify-center rounded-3xl shadow-lg ${index % 2 === 0 ? 'bg-theme-light-teal' : 'bg-theme-light-coral'}`}>
                  
                  <div
                    id={`close-${index}`}
                    class="absolute right-1 top-1 h-16 w-auto pr-1 cursor-pointer rounded-full text-2xl hover:text-4xl"
                  >
                    &times;
                  </div>

                  {/* Top right img */}
                  <div class="absolute right-8 top-8 w-full flex items-center justify-center">
                    <img
                      src="/sample_image.jpg"
                      alt="top right image"
                      decoding="async"
                      loading="eager"
                      class="absolute right-2 top-1 h-16 w-16 object-cover " 
                      onerror="this.style.display='none'"
                    />
                    
                    <h3 class={`absolute top-6 text-4xl font-bold font-poppins ${index % 2 === 0 ? 'text-theme-teal' : 'text-theme-coral'}`}>
                      {idea.topic}
                    </h3>
                  </div>


                  <p class="m-4 p-5 text-xl font-nunito font-light">{idea.idea}</p>
                
                  {/* Bottom left img */}
                  <img
                    src="/sample_image.jpg"
                    alt="bottom left image"
                    decoding="async"
                    loading="eager"
                    class="absolute bottom-9 left-9 h-16 w-16 object-cover" 
                    onerror="this.style.display='none'"
                  />

                </div>
              </div>

            </div>
          ))
        }
      </div>

      <script defer>
        const modals = document.querySelectorAll("div.modal");
        console.log(modals);
        modals.forEach((modal, index) => {
          var m = document.getElementById(`modal-${index}`);
          var btn = document.getElementById(`open-${index}`); // Get the button that opens the modal
          var closeBtn = document.getElementById(`close-${index}`); // Get the <span> element that closes the modal

          btn.onclick = function () {
            m.classList.toggle("hidden");
            window.onclick = function (event) {
              if (event.target == m) {
                m.classList.toggle("hidden");
              }
            };
          };

          closeBtn.onclick = function () {
            m.classList.toggle("hidden");
          };

          window.onclick = function (event) {
            if (event.target == m) {
              m.classList.toggle("hidden");
            }
          };
        });
      </script>
    </div>
  </main>
</HTMLWrapper>
<Footer />
