---
interface DropDownItem {
  value: string;
  option: string;
}

const { label, name, placeholder, dropdown, required } = Astro.props;
---

<div>
  <label for={name} class="font-bold">{label}</label>
  <div class="pt-2">
    <select name={name} id={name} class="invalid:text-gray-400 border border-gray-500 bg-transparent rounded-xl p-3 w-full" required={required}>
      <option value="" disabled selected>{placeholder}</option>
        {dropdown.map((item: DropDownItem) => (
          <option value={item.value}>{item.option}</option>
        ))}
    </select>
  </div>
</div>
