---
const { label, type, placeholder, name, required } = Astro.props;
---

<div>
  <label for={name} class="font-bold">{label}</label>
  <div class="pt-2">
    <input
      class="w-full rounded-xl border border-gray-500 p-3 placeholder-gray-400"
      name={name}
      id={name}
      type={type}
      placeholder={placeholder}
      required={required}
      min={name === "age" && type === "number" ? "18": undefined}
    />
  </div>
</div>
